@keyframes float {
  0%{
    transform: translateY(1rem); /* z prawej do lewej*/
  }
  50%{
    transform: translateY(-1rem);
  }

  100%{
    transform: translateY(1rem);
  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100px); /* z lewej do prawej*/
  }
  80%{
    transform: translateX(-5px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}