*,
*::after,
*::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-transform: uppercase;
}

html{
  font-size: 70.5%;  /*   1rem   */
}

body{
  box-sizing: border-box;
  height: 1080px;
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  margin:0;
  position:relative;
}
