//Colors

$color-white: #ffffff;
$background-color: #f9f9f9;
$color-light-grey: #eeeeee;
$color-grey-light: #bababa;
$color-grey-icons: #aaaaaa;
$color-grey: #555555;
$color-black: #000000;
$color-green: #41c78d;

$page-height: 2 * 100vh;

$card-height: 0.2 * 1080px;

$grid-breakpoints: (
        xs: 0px,
        sm: 480px,
        md: 768px,
        lg: 1324px,
        xl: 1824px
);




